<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Ideas Tech Blog</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    {{!-- <link rel="stylesheet" href="/css/materialize.css" /> --}}
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
            
  </head>

  <body>
    <div>
      <header>
        <nav style="background-color: #5e89a9;">
          <div class="nav-wrapper">
             <div class="container">
              <a href="/" class="brand-logo" id="logo"><i class="material-icons">&#128218;</i>The Tech Blog</a>
              <a href="#" class="sidenav-trigger" data-target="slide-out" style="font-size:2rem">☰</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">home</a></li>

                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                  <li><a class="waves-effect" href="/dashboard">dashboard</a></li>
                  <li><a class="waves-effect" id="logout">logout</a></li>
                {{else}}
                  <li><a href="/login">login</a></li>
                {{/if}}

              </ul>
            </div>
          </div>
        </nav>
      </header>

  <ul id="slide-out" class="sidenav">
    <li><a href="/">&#128218; Tech Blog</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/">home</a></li>
    {{#if logged_in}}
      <li><a class="waves-effect" href="/dashboard">dashboard</a></li>
      <li><a class="waves-effect" id="logout_burger">logout</a></li>
        {{else}}
      <li><a href="/login">login</a></li>
    {{/if}}
  </ul>

      <main class="container">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer></footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elems = document.querySelectorAll(".sidenav");
    const options = {
      edge: "left",
    };
    var instances = M.Sidenav.init(elems, options);
  });
</script>