<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Ideas Tech Blog</title>
    <link rel="stylesheet" href="/css/materialize.css" />
    {{! <link rel="stylesheet" href="/css/jass.css"> }}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>

        <nav style="background-color: #5e89a9;">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">&#128218; Share Ideas - Tech Blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">home</a></li>

              <!-- Conditionally render login or logout links -->
              {{#if logged_in}}
                <li><a href="/dashboard">dashboard</a></li>
                <li><a id="logout">logout</a></li>
              {{else}}
                <li><a href="/login">login</a></li>
              {{/if}}

            </ul>
          </div>
        </nav>
      </header>
      <main class="container">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>