<h4>Welcome, {{name}}!</h4>
<div id="current-posts">
  {{#if blogposts.length}}
      <table class="responsive-table">
        <tbody>
          <th class="tbl-content-left">Post title</th>
          <th class="tbl-content-right">Posted on</th>
          {{#each blogposts as |blogpost|}}
              <tr>
                  <td class="tbl-content-left"><a
                      href="/blogpost-edit/{{blogpost.id}}"
                    >{{blogpost.title}}</a></td>
                  <td class="tbl-content-right"><p>{{format_date
                        blogpost.posted_date
                      }}</p></td>
              </tr>
          {{/each}}
        </tbody>
      </table>
  {{/if}}
  <div class="center-align">
    <button
      id="new-post"
      class="btn btn-small btn-long"
      type="submit"
      onclick="showCreatePost()"
    >
      + New Post
    </button>
  </div>
</div>
<div class="row" style="display:none" id="new-post-form">
  <div class="col s12">
    <h3>Create a New Blogpost:</h3>

    <form class="new-blogpost-form">
      <div>
        <label for="blogpost-title">blogpost title:</label>
        <input type="text" id="blogpost-title" name="blogpost-title" />
      </div>
      <div>
        <label for="blogpost-desc">content:</label>
        <textarea
          id="blogpost-desc"
          name="blogpost-desc"
          style="height: 300px"
        ></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-small btn-long">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>