  <div class="row">
    <h4 class="cyan-text">Login</h4>
    <form id="login-form">

        <div class="input-field col s12">
          <input id="email-login" type="text" class="validate">
          <label for="email-login">email</label>
        </div>
        <div class="input-field col s12">
          <input id="password-login" type="password" class="validate">
          <label for="password-login">password</label>
        </div>

      <button class="btn waves-effect waves-light cyan" type="submit" name="action">Login</button>
    </form>
  </div>

  <div>
    <h6><a id="signup" href="signup" class="cyan-text">Sign up instead</a></h6>
  </div>

<script src="./js/login.js"></script>
